.dashboard-container {
  margin-left: 240px;
  padding-left: 40px;
  
}
.add-book-btn {
  padding: 15px 30px;
  background-color: #1F1F21;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}
.book-explore {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
