<div class="popup-card">
  <h3>{{ isEdit ? 'Edit Book' : 'Add Book' }}</h3>
  
  <input type="text" placeholder="Title" [(ngModel)]="model.title" />
  <input type="text" placeholder="Author" [(ngModel)]="model.author" />
  <input type="text" placeholder="ISBN" [(ngModel)]="model.isbn" />
  <input type="date" [(ngModel)]="model.publicationDate" />
  
  <div class="buttons">
    <button (click)="handleSave()">
      {{ isEdit ? 'Save Changes' : 'Add Book' }}
    </button>
    <button (click)="close.emit()">Cancel</button>
  </div>
</div>



