.sidebar-container{
  padding: 8px;

}

.sidebar{
    height: 100vh;         /* Full viewport height */
    position: fixed;       /* Fix sidebar in place while scrolling */
    width: 220px;          /* Your fixed width */
    background-color:#FAFAFA;
    border-radius: 12px;
    color: black;
    height: 100vh;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(65, 65, 65, 0.1);

}
.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
nav ul li span {
  margin-right: 10px;
}